$background-color: rgb(207,220,234);
$header-text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
$add-icon-shadow: 0 0 30px rgba(92, 214, 26, 0.5);
$add-icon-shadow-hover: 0 0 10px rgba(92, 214, 26, 0.8);
$time-stamp-color: rgba(0,0,0,0.3);
$thing-background-color: rgb(230,238,246);
$thing-text-color:rgba(46, 70, 100, 0.9);
$thing-text-color-pale:rgba(46, 70, 100, 0.4);
$scroll-color:rgb(190, 201, 216);
$scroll-bg-color:#e6eef6;
$input-background-edit-mod-color:rgba(255, 255, 255, 1);
$input-border-edit-mod:2px solid rgba(46, 70, 100, 0.6);
